<div class="content">

<div id="tabs">	
<mat-tab-group>
  <mat-tab label="Available">
   <div class="search-bar">
   		<form class="form-wrap">
   			<input type="search" name="" value="" placeholder="Search by name or state">	
   			<input type="submit" name="" value="">
		</form>
   </div>
   <div class="info-wrap">
	  <div class="infor-bar">
	   		<div class="logos box1">
	   				<img src="assets/images/logo1.png" alt="logo1" />
	   		</div>
	   		<div class="login_details">
	   			<a href="">Login</a>
	   		</div>
	   		<div class="clear"></div>
	   </div> 
	   <div class="infor-bar">
	   		<div class="logos box2">
	   				<img src="assets/images/logo2.png" alt="logo1" />
	   		</div>
	   		<div class="login_details">
	   			<a href="">Login</a>
	   		</div>
	   		<div class="clear"></div>
	   </div> 
	   <div class="infor-bar">
	   		<div class="logos box3">
	   				<img src="assets/images/logo3.png" alt="logo1" />
	   		</div>
	   		<div class="login_details">
	   			<a href="">Login</a>
	   		</div>
	   		<div class="clear"></div>
	   </div> 
	   <div class="infor-bar">
	   		<div class="logos box4">
	   				<img src="assets/images/logo4.png" alt="logo1" />
	   		</div>
	   		<div class="login_details">
	   			<a href="">Login</a>
	   		</div>
	   		<div class="clear"></div>
	   </div> 
 </div>
  </mat-tab>

  <mat-tab label="Connected">
      <div class="search-bar">
   		<form>
   			<input type="search" name="" value="" placeholder="Search by name or state">	
   			<input type="submit" name="" value="">
		</form>
   </div>
   <div class="info-wrap">
	  <div class="infor-bar">
	   		<div class="logos box4">
	   				<img src="assets/images/logo4.png" alt="logo1" />
	   		</div>
	   		<div class="login_details">
	   			<a href="">Logout</a>
	   		</div>
	   		<div class="clear"></div>
	   </div> 
	   <div class="infor-bar">
	   		<div class="logos box3">
	   				<img src="assets/images/logo3.png" alt="logo1" />
	   		</div>
	   		<div class="login_details">
	   			<a href="">Logout</a>
	   		</div>
	   		<div class="clear"></div>
	   </div> 
	   <div class="infor-bar">
	   		<div class="logos box2">
	   				<img src="assets/images/logo2.png" alt="logo1" />
	   		</div>
	   		<div class="login_details">
	   			<a href="">Logout</a>
	   		</div>
	   		<div class="clear"></div>
	   </div> 
	   <div class="infor-bar">
	   		<div class="logos box1">
	   				<img src="assets/images/logo1.png" alt="logo1" />
	   		</div>
	   		<div class="login_details">
	   			<a href="">Logout</a>
	   		</div>
	   		<div class="clear"></div>
	   </div> 
 </div>
  </mat-tab>
</mat-tab-group>
</div>





</div>